.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px 0;
  height: 95px;
  margin: 0 var(--main-margin);
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .title {
    height: 150px;
  }
}
