.filters-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 0.75%;
  margin-bottom: var(--space-header);
}

.btns-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 20px 2.5%;
}
.filters-container h3 {
  margin-right: 2.5%;
}
.btn-container {
  position: relative;
}
