.location_search {
  height: 50px;
  display: flex;
  margin-bottom: var(--space-header);
}

.location_search > input {
  border: none;
  border-top: 1px solid var(--neutral);
  border-bottom: 1px solid var(--neutral);
  outline: none;
  font-weight: 800;
  font-size: 18px;
  padding-left: 1.2%;
}

.location_search > label {
  background-color: var(--neutral);
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
}

.location_search > label img {
  height: 18px;
}
