.btn-primary {
  border: none;
  color: white;
  background-color: var(--primary);
  font-size: 18px;
  font-weight: 600;
  height: 100%;
  padding: 0 1.34%;
  border-radius: 0 15px 15px 0;
}

.btn-secondary {
  border: 2px solid var(--neutral-dark);
  border-radius: 50px;
  background-color: white;
  font-size: 18px;
  font-weight: 700;
  padding-left: 60px;
  padding-right: 20px;
  height: 50px;
  width: max-content;
}

.btn-invisible {
  width: 20%;
}
