.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 50px;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-light);
  border-radius: 50px;
}

.icon-wrapper--infos {
  position: relative;
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--neutral-dark);
  height: 23px;
  margin: 0 0.75%;
}

.icon-wrapper i {
  transform: scale(1.1);
  color: var(--primary);
}

.icon-wrapper--infos i {
  transform: scale(0.8);
}
